.badges-dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.badge {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
}

.badge img {
  max-width: 100px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .badge {
    flex-basis: 100%;
  }
}